@use "../../style/mixins.scss" as mix;
@use "../../style/variable.scss" as color;
@use "../../style/responsive.scss" as res;

.about {
  padding: 16rem 8%;
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 5%;
  @include res.respnesive(desktop) {
    grid-template-columns: 1fr;
  }
  & .story,
  .people {
    @include mix.flexCol;
    justify-content: start;
    align-items: flex-start;
  }
  & .story {
    line-height: 2;
    & h2 {
      @include mix.Heading;
    }
    p {
      padding: 1.5rem 0;
      @include res.respnesive(tab) {
        padding: 1.5rem 0;
      }
    }
    .btns {
      display: flex;
      gap: 3rem;
      margin-top: 2rem;
      @include res.respnesive(tab) {
        gap: 2rem;
        margin-top: 1rem;
      }
      button:first-child {
        background-color: transparent;
        border: 2px solid color.$light-yellow;
        color: color.$light-yellow;
        &:hover {
          background-color: color.$light-yellow;
          color: color.$dark-black;
        }
      }
      button:last-child {
        background-color: color.$medium-yellow;
        border: 2px solid color.$medium-yellow;
        color: color.$white;
        &:hover {
          background-color: color.$light-yellow;
          border: 2px solid color.$light-yellow;
          color: color.$black;
        }
      }
    }
  }
  & .people {
    padding: 6rem 0;
    @include res.respnesive(tab) {
      padding: 4rem 0;
    }
    & h2 {
      font-size: 2.5rem;
      padding-bottom: 4rem;
      margin-bottom: 4rem;
      border-bottom: 1px solid rgba(221, 221, 221, 0.164);
      @include res.respnesive(tab) {
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        font-size: 2rem;
      }
      @include res.respnesive(phone) {
        font-size: 1.3rem;
      }
    }
    & .avatar {
      @include mix.flexRow;
      gap: 4rem;
      @include res.respnesive(tab) {
        gap: 3rem;
      }
      & img {
        width: 6.1rem;
        height: 6.1rem;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 -0.4rem;
        outline: 3px solid #fff;
        @include res.respnesive(tab) {
          width: 5.1rem;
          height: 5.1rem;
          outline: 1.5px solid #fff;
        }
      }
    }
  }
}
