@use "./variable.scss" as color;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background: color.$dark-black;
  height: 10000px;
  color: color.$white;
}
a {
  color: color.$white;
  text-decoration: none;
  transition: 0.4s;
  font-weight: 700;
  font-size: 1.5rem;
  &:hover {
    color: color.$light-yellow;
  }
}
p,
span,
div,
small {
  color: color.$paragraph;
  font-size: 1.4rem;
}
h1,
h2,
h3 {
  color: color.$medium-yellow;
}
ul {
  list-style-type: none;
}
button {
  border-radius: 2.4rem;
  padding: 1.4rem 2.2rem;
  border: 0.2rem solid transparent;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  &:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 10px 50px;
  }
}
