@use "./variable.scss" as color;

@mixin absCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@mixin flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin Heading {
  & div:first-child {
    font-size: 4rem;
    color: color.$medium-yellow;
    text-transform: capitalize;
    span {
      color: color.$light-yellow;
      border-bottom: 0.4rem solid color.$light-yellow;
      font-size: 5.5rem;
      padding-bottom: -5rem;
    }
  }
  & div:last-child {
    font-size: 2.2rem;
  }
  & p {
    padding: 1.5rem 0;
  }
}
