@use "../../style/mixins.scss" as mix;
@use "../../style/variable.scss" as color;

.register {
  @include mix.flexRow;
  padding: 0 8%;
  justify-content: space-between;
  background: url("../../assets/imgs/register.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 50rem;
  margin-bottom: 30rem;
  & .heading {
    @include mix.Heading;
    & p {
      width: 70%;
    }
  }
  button {
    font-weight: 700;
    background-color: color.$white;
    position: relative;
    left: -14%;
    top: 0.3rem;
    &:hover {
      background-color: color.$light-yellow;
      color: color.$white;
    }
  }
}
